.javascript-definition {
  display: none;
}
.modulo-definition {
  display: none;
}
.operators-definition {
  display: none;
}
.NaN-definition {
  display: none;
}
.convention-definition {
  display: none;
}
.plusequal-definition {
  display: none;
}
.function-definition {
  display: none;
}
.method-definition {
  display: none;
}
